<!--Check if member exists before we display him as the data from api might have not been returned from API yet-->
<div class="row" *ngIf="member">
  <div class="col-4">
    <!--If no photo uploaded, then reference dummy user pic-->
    <img src="{{member.photoUrl || './assets/user.png'}}"
         class="card-img-top img-thumbnail" alt="{{member.knownAs}}" />
    <div class="card-body">
      <div>
        <strong>Location: </strong>
        <p>{{member.city}}, {{member.country}}</p>
      </div>
      <div>
        <strong>Age: </strong>
        <p>{{member.age}}</p>
      </div>
      <div>
        <strong>Member Since: </strong>
        <p>{{member.city}}</p>
      </div>
      <div>
        <strong>Location: </strong>
        <p>{{member.created}}</p>
      </div>
      <div>
        <strong>Last Active: </strong>
        <p>{{member.lastActive}}</p>
      </div>
    </div>
    <div class="card-footer">
      <div class="btn-group d-flex">
        <!--d-flex means we wil use the CSS flexbox system-->
        <button class="btn btn-primary">Like</button>
        <button class="btn btn-success">Message</button>
      </div>
    </div>
  </div>
  <div class="col-8">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="true">About {{member.knownAs}}</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="interests-tab" data-toggle="tab" href="#interests" role="tab" aria-controls="interests" aria-selected="false">Interests</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="photos-tab" data-toggle="tab" href="#photos" role="tab" aria-controls="photos" aria-selected="false">Photos</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Messages</a>
      </li>
    </ul>
    <div class="tab-content member-tabset" id="memberTabContent">
      <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
        <h4>Description</h4>
        <p>{{member.introduction}}</p>
        <h4>Looking for</h4>
        <p>{{member.lookingFor}}</p>
      </div>
      <div class="tab-pane fade" id="interests" role="tabpanel" aria-labelledby="interests-tab">
        <h4>Description</h4>
        <p>{{member.interests}}</p>
      </div>
      <div class="tab-pane fade" id="photos" role="tabpanel" aria-labelledby="photos-tab">
        <p>Photos will go here</p>
        <img src="{{member.photoUrl || './assets/user.png'}}"
             class="card-img-top img-thumbnail" alt="{{member.knownAs}}" />
      </div>
      <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="messages-tab">
        <p>Messages will go here</p>
      </div>
    </div>
  </div>
</div>

